<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

		<title></title>

		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bxslider.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/mobile.css" rel="stylesheet" media="(max-width:1200px)">
	</head>
    <body>

      <header class="header5 header14" id="header14">
        <div class="container">
          <div class="header5_pretitle">Find the <i>Best</i> Deal</div>
          <h1><i>Login</i> Now</h1>
          <form action="/users/login" method="POST" class="header14_form">
            <input type="email" name="email" class="place" placeholder="Username" />
            <span class="mobile_row">
              <input type="password" name="password" class="place" placeholder="Password" />
              </span>
            </span>
            <button type="submit" class="sec3_5_btn">Login</button>
          </form>
          <br>
          <div class="header14_text"> With over 10,000 matches made in a 100 years. Find your match tomorrow.</div>
          <a href="#" class="header5_play" data-container-id="header14"><img src="/img/signoff_logo.png" width="228" height="125" alt="Signoff"></a>
            <button type="button" class="sec3_5_btn" onclick="location.href='/users/signup';">Sign Up</button>
        </div>
      </header>
</body>

  </body>
</html>
